bayesian-optimization==1.4.0
pytz==2025.2
cma==4.4.1
directsearch==1.0.1
filelock==3.20.3
fsspec==2026.1.0
jinja2==3.1.6
joblib==1.5.3
lief==0.17.2
lightgbm==4.6.0
git+https://github.com/zangobot/maltorch.git@1448e195dbe6c7c7fdf491d9c9dd3d4118c651d4
markupsafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
nevergrad==1.0.12
numpy==2.4.1
pandas==2.3.3
pillow==12.1.0
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.0
secml-torch==1.3
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.9.1
torchvision==0.24.1
typing-extensions==4.15.0
tzdata==2025.3
jupyter==1.1.1
